@import 'tailwindcss';

@layer base {
    :root {
        --font-sora: 'Sora', sans-serif;
        --font-inter: 'Inter', sans-serif;
    }
}

@layer base {
    html {
        font-family: var(--font-sora);
    }
}

@layer utilities {
    .font-inter {
        font-family: var(--font-inter);
    }
}
